%container {
    width: 85%;
    max-width: 1200px;
}

%flexDisplay {
    display: flex;
    justify-content: space-between;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}